@use "../custom" as *;
body{
    position: relative;
}
.background-carousel-color{
    background-color: black;
}



.font-roboto h2 h3{
    font-family: 'Roboto', sans-serif;
    
}
.font-open-sans p{
    font-family: 'Open Sans',sans-serif;
}






.bg-gray{
    padding-top: 8vh;
    background-color:$gray-800 ;
}
.container-fluid{
    padding:0;
}

#carouselExampleIndicators .carousel-inner, #carouselExampleIndicators .carousel-item{
    height:50rem;
    position: relative;
}
.img-carousel{
    height:100%;
    width:100%;
    
  }
.overlay-image{
    background-color: black;
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    top: 0;
    bottom:0 ;
    left:0 ;
    right:0 ;
    position: absolute;
}

